html {
    user-select: none;
}
.container {
    background-color: #FFFFFF;
    border-radius: 1px;
    margin: 0 auto;
    display: grid;
    width: 400px;
    height: 400px;
}

.boxes {
    border: 1px solid black;
}